*{
    padding: 0;
    margin: 0;
    font-family:' IRANSansX-Light';
}



header{
    width: 100%;
    height: 8vh;
    background: #111;
}

header nav{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #555;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



header nav h1{
    font-size: 2.3rem;
}




